<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--<bean id="myThrowsAdvice" class="com.xoste.leon.advice.MyThrowsAdvice"/>
    <aop:config>
        <aop:pointcut expression="execution(* com.xoste.leon.test.Demo.demo1())" id="myPoint"/>
        <aop:advisor advice-ref="myThrowsAdvice" pointcut-ref="myPoint"/>
    </aop:config>-->
    <!--<aop:config>
        <aop:aspect ref="myThrowsAdvice">
            <aop:pointcut expression="execution(* com.xoste.leon.test.Demo.demo1())" id="myPoint"/>
            <aop:after-throwing method="afterThrowing" pointcut-ref="myPoint" throwing="ex"/>
        </aop:aspect>
    </aop:config>-->
    <bean id="myAroundAdvice" class="com.xoste.leon.advice.MyAroundAdvice"/>
    <aop:config>
        <aop:pointcut expression="execution(* com.xoste.leon.test.Demo.demo1())" id="myPoint"/>
        <aop:advisor advice-ref="myAroundAdvice" pointcut-ref="myPoint"/>
    </aop:config>
    <bean id="demo" class="com.xoste.leon.test.Demo"/>
</beans>